<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ID 중복확인</title>
    </head>
    <body>
        <div class="container">중복확인이 완료되었습니다.</div>
        <button onclick="alert('창이 닫힙니다');window.close();">Close</button>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            alert("중복확인이 완료되었습니다\n창을 닫습니다");
            window.close();
        });
    </script>
</html>
