<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=title%></title>
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="./css/index.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="#"><b>버그신고</b></a>
                <a href="login">로그인</a>
                <a href="register">회원가입</a>
            </nav>
            <div class="logo-wrapper">
                <div>Logo</div>
                <div><input type="text" class="search" /></div>
            </div>
            <div class="board-list-wrap">
                <div class="category-total-list-wrap">
                    <button id="category-total-btn">전체보기</button>
                    <div id="category-total-list" class="hide">
                        <ul class="category-default">
                            <li><a href="#">출석체크</a></li>
                            <li><a href="#">고객센터</a></li>
                            <li><a href="#">버그신고</a></li>
                        </ul>
                    </div>
                </div>
                <div class="category-item">
                    <span><a href="#">카테고리1</a></span>
                    <div class="category-sub hide">
                        <div class="category-sub-subject">
                            <h4>주제1</h4>
                            <li><a href="#">게시판1</a></li>
                            <li><a href="#">게시판2</a></li>
                            <li><a href="#">게시판3</a></li>
                        </div>
                        <div class="category-sub-subject2">
                            <h4>주제2</h4>
                            <li><a href="#">게시판1</a></li>
                            <li><a href="#">게시판2</a></li>
                            <li><a href="#">게시판3</a></li>
                        </div>
                    </div>
                </div>
                <div class="category-item">
                    <span><a href="#">카테고리2</a></span>
                    <div class="category-sub hide">
                        <div class="category-sub-subject">
                            <h4>주제3</h4>
                            <li><a href="#">게시판1</a></li>
                            <li><a href="#">게시판2</a></li>
                            <li><a href="#">게시판3</a></li>
                        </div>
                        <div class="category-sub-subject2">
                            <h4>주제4</h4>
                            <li><a href="#">게시판1</a></li>
                            <li><a href="#">게시판2</a></li>
                            <li><a href="#">게시판3</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="main-left-wrap">
                <div class="main-top-ad-wrap">메인 상단 광고</div>
            </div>
            <div class="main-right-wrap">
                <div class="login-wrap">
                    <input type="text" class="id" placeholder="id" />
                    <input type="password" class="pw" placeholder="pw" />
                    <button type="submit">로그인</button>
                </div>
                <div class="notice-wrap">
                    <span>Notice</span>
                    <ul>
                        <li>공지1</li>
                        <li>공지2</li>
                    </ul>
                </div>
            </div>
        </main>

        <footer>created by aochfl</footer>
        <script src="./js/index.js"></script>
    </body>
</html>
