@charset 'utf-8';

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
}
button:hover {
    cursor: pointer;
}
/* reset end */
