<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addUser" method="post">
        userid: <input type="text" name="userid" style="background-color: black;" required> </br>
        passwd: <input type="password" name="passwd" required> </br>
        username: <input type="text" name="username" required> </br>
        post: <input type="text" name="post" maxlength="5" > </br>
        addr: <input type="text" name="addr" > </br>
        hp: <input type="text" name="hp" maxlength="15"> </br>
        <input type="submit" value="register">
    </form>
</body>
</html>