body {
    font-family: "Nanum Gothic", sans-serif;
}
.login-wrap {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 5px;

    background-color: #e1e1e1;
    padding: 20px;
}
h1 {
    margin-bottom: 30px;
}
form > div {
    /* margin: 10px; */
    position: relative;
    margin-bottom: 20px;
    background-color: white;
}

form > div > input {
    /* background-color: white; */
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 25px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

form > div > button {
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
}
form > div > i {
    font-size: 25px;
    position: absolute;
    top: 18px;
    left: 10px;
}

.link-wrap {
    display: flex;
    justify-content: space-between;
}

::placeholder {
    font-family: "Open Sans", sans-serif;
}

/* script */
.red-border {
    border: 1px solid red !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
}
