body {
    font-family: "Nanum Gothic", sans-serif;
    background-color: #e1e1e1;
}

.total-wrap {
    width: 90%;
    margin: 0px auto;
}

.title-wrap {
    height: 50px;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-wrap h2 {
    font-size: 24px;
}
.title-wrap div a {
    color: white;
    margin-left: 15px;
}
.manage-btn-wrap,
.search-wrap {
    display: flex;
    justify-content: right;
    padding: 10px;
}

.manage-btn-wrap button {
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
}

table tr {
    height: 40px;
    background-color: white;
}
table tr:hover {
    background-color: rgba(128, 128, 128, 0.4);
}
table tr:first-child {
    font-weight: bold;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.7);
}
/* :nth-child 순서
1 체크박스
2 회원번호
3 아이디
4 패스워드
5 이메일
6 성별
7 거주지역
8 취미
9 자기소개
10 정보수정
*/
table tr td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    font-size: 12px;
}
table tr td:nth-child(1),
table tr td:nth-child(6),
table tr td:nth-child(10) {
    text-align: center;
    padding: 0;
}
table tr input {
    width: 16px;
    height: 16px;
}

.search-wrap select,
.search-wrap input,
.search-wrap button {
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
}
