<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=title%></title>
    </head>
    <body>
        <h2>회원목록보기</h2>
        <a href="/">메인으로</a>
        <a href="/register">회원가입</a>
        <table border="1">
            <tr>
                <td>번호</td>
                <td>아이디</td>
                <td>비밀번호</td>
                <td>이름</td>
                <td>가입일</td>
                <td>수정/삭제</td>
            </tr>
            <tr>
                <td>1</td>
                <td>busanit</td>
                <td>12345</td>
                <td>부산</td>
                <td>2022-08-11</td>
                <td></td>
            </tr>
        </table>
    </body>
</html>
