<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <h2>회원가입 폼 작성</h2>
        <a href="/">메인으로</a>
        <a href="/list">회원목록</a>
        <form method="post" action="/register">
            <div>Userid :<input type="text" name="userid" required /></div>
            <div>Passwd :<input type="password" name="passwd" required /></div>
            <div>Username :<input type="text" name="username" required /></div>
            <input type="submit" value="회원가입" />
        </form>
    </body>
</html>
