<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h4><a href="/">관리자페이지로 이동</a></h4>

  <h2>자동차 쇼핑몰 사이트</h2>
  <% if( company == "" ) { %>
    <h3>등록된 회사가 없습니다.</h3>
  <% 
    } else { 
      company.forEach((c) => {
  %>
  <a href="/smallCategory?bcCode=<%= c.bcCode %>"><%= c.bcName%></a>
  (<%= c.total %>)
  <% 
      })
    } 
  %>
  <br /><br /><br /><br /><br /><br />
  <a href="/productAdd">상품등록하기</a>
</body>
</html>