body {
    margin-top: 50px;
    margin-left: 50px;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: #333;
    margin-right: 30px;
}
form {
    margin-top: 20px;
}
input [type="text"],
input[type="password"] {
    outline: 0;
    border: 1px solid #ccc;
    padding: 4px 12px;
    margin-bottom: 10px;
}

input[type="submit"] {
    outline: 0;
    border: 0;
    background-color: steelblue;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
}
input[type="submit"]:hover {
    transition: 0.5s;
    background-color: rgba(70, 130, 180, 0.6);
}

table {
    width: 100%;
    border-collapse: collapse; /* 테두리 */
}
tr:first-child {
    background-color: #ccc;
    font-weight: bold;
}
tr {
    height: 40px;
    text-align: center;
}

button {
    cursor: pointer;
    border: 0;
    padding: 8px 12px;
    font-family: "Roboto", sans-serif;
}
button.update {
    background-color: tomato;
    color: white;
}

button.delete {
    background-color: #ccc;
    color: #000;
}
